{% set audio_clips_filename = AUDIO_CLIPS_FILENAME | default("AudioClips.tar.gz") %}
        steps:
        - export IMAGE_PATH=$PWD
{% if apply_overlay is defined and apply_overlay == "rootfs" %} 
        - cp overlay*.tar.gz overlay.tar.gz
{% if AUDIO_CLIPS_URL is defined %}
        - mkdir overlay_root
        - tar -xzvf overlay.tar.gz -C overlay_root
        - tar -xzvf {{ audio_clips_filename }} -C overlay_root
        - tar -czf overlay.tar.gz -C overlay_root .
{% endif %}
        - echo "OVERLAY=overlay.tar.gz" >> $IMAGE_PATH/flash.settings
        - echo "OVERLAY_PATH=/home/" >> $IMAGE_PATH/flash.settings
{% endif %}
        - echo "DEVICE_TYPE={{FLASHER_DEVICE_TYPE}}" >> $IMAGE_PATH/flash.settings
        - cat $IMAGE_PATH/flash.settings 
